In [ ]:
1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

Examples

remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]

remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g", "w"]

remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []

In [146]:
def remove_letters(n,x):
    y=list(x)
    for i in y:
        if i in n:
               n.remove(i)
    return n

In [147]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [ ]:
2. A block sequence in three dimensions. We can write a formula for this one:










Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

Examples

blocks(1) ➞ 5

blocks(5) ➞ 39

blocks(2) ➞ 12

In [156]:
def blocks(n):
    a=5
    b=7
    if(n==1):
        return a
    else:
        for i in range(1,n):
            a=a+b
            b=b+1
        return a

In [157]:
blocks(5)

39

In [159]:
blocks(100)

5549

In [ ]:
3. Create a function that subtracts one positive integer from another, 
without using any arithmetic operators such as -, %, /, +, etc.

Examples

my_sub(5, 9) ➞ 4

my_sub(10, 30) ➞ 20

my_sub(0, 0) ➞ 0

In [187]:
def my_sub(x,y):
    l=[]
    l1=[]
    l2=[]
    for i in range(x):
        l.append(i)
    for j in range(y):
        l1.append(j)
    x1=len(l)
    y1=len(l1)
    if(x1>y1):
        for i in range(x):
            if i in range(y):
                i=0
            else:
                l2.append(i)
    else:
         for i in range(y):
            if i in range(x):
                i=0
            else:
                l2.append(i)
    count=0
    for i in l2:
        count+=1
    return count

In [188]:
my_sub(5,9)

4

In [189]:
my_sub(20,10)

10

In [190]:
my_sub(100,30)

70

In [ ]:
.Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and
returns the sum of dollar bills only, as an integer.

For the input string:

   - Each amount is prefixed by the currency symbol: $ for dollars and £ for pounds.
   - Thousands are represented by the suffix k.

i.e. $4k = $4,000 and £40k = £40,000

Examples

add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70

add_bill("p30,d20,p60,d150,p360") ➞ 20  + 150 = 170

add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200

In [17]:
def add_bill(x):
    l=[]
    n=x.split(',')
    for i in n:
        if(i[0]=='d'):
            if(i[-1]=='k'):
                l.append(int(i[1])*1000)
            else:
                l.append(int(i[1:]))
        else:
            pass
    return sum(l)

In [18]:
add_bill("d20,p40,p60,d50")

70

In [19]:
add_bill("p30,d20,p60,d150,p360")

170

In [20]:
add_bill("p30,d2k,p60,d200,p360")

2200

In [ ]:
5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

Examples

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
# Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
# Take a vertical list and flip it horizontal.

flip_list([]) ➞ []

In [5]:
def flip_list(n):
    mat=[]
    k=[]
    for i in range(len(n)):
        a=[]
        for j in range(len(n[0])):
            a.append(j)
        mat.append(a)
    for i in range(len(n)):
        for j in range(len(n[0])):
             print(mat[i])[j],end=' ' )
        return mat

In [6]:
flip_list([[1,2,3,4]])

TypeError: list indices must be integers or slices, not list

In [109]:
len(n)

NameError: name 'n' is not defined